*{
	margin:0 auto;
	padding: 0;
}

body{
	background-color: white;
	font-family: 'Balsamiq Sans', cursive;
}

.nav{
	height: 70px;
	width: 100%;
	background-color: white;
	position: fixed;
	opacity: 1;
}

.nav ul li{
	display: inline-block;
    list-style: none;
    margin-top: 15px;
	float: right;
	margin-right: 10px;
	padding: 1%;
    font-weight: bold;
}

.nav .div1{
	max-width: 1200px;
}
.nav ul li a{text-decoration: none;}

a:link{
	color: grey;
}

a:visited{color: grey;}

a:hover{
	color:#4b5448;
}

.nav ul .active a{color:#80f263;}
.nav ul .active a:hover{
	color:#249109;
}

.div1{
	margin-top: 1px;
	margin-left: 50px;
	float: left;
}

.foot{
	background-image:url("https://static.teamtreehouse.com/assets/marketing/landings/tracks_fullimg-a5ed73ac6c2fd81a3d4e4bc652f76d50cbccb4272dfe3cca1cb00067694896ba.png");
	background-position: center;
	bottom: 0px;
	height: 70px;
	z-index: 10;
	width: 100%;
	position: fixed;
	color: white;
	font-size: large;
	padding-top: 10px;
}

.div2{
	clear: both;
	max-width: 40%;
	padding: 4% 2%;
	color: white;
	float: left;
	margin-top: 18%;
	margin-left: 35px;
}

.form{
	float: right;
	background-color: white;
	height: 40%;
	width: 42%;
	margin-right: 7%;
	margin-top: 11.3%;
}


.form .formhead{
	background-color: lightgrey;
	font-size: large;
	padding: 4%;
}

.form .input .box{
	margin-left: 2%;
	float: left;
	width: 41%;
}

.form .input .box2{
	margin-right: 8%;
	float: right;
	width: 41%;
}

form .row1{
	line-height: 40px;
	padding: 2%;
	font-size: large;
}

.form .input .check{
	clear: both;
	padding-top: 4.5%;
	padding-bottom: 1%;
	padding-left: 4.5%;
}

button{
	clear: both;
	background-color: #3576ab;
	color: white;
	font-size: large;
	padding: 3% 1%;
	text-align: center;
	border-radius: 5px;
	letter-spacing: 1px;
	width: 92%;
	margin: 1% 3%;
}

button:hover{background-color: #004f8f;
	transition: background-color 0.2s linear;}

.form .input .submit{
	margin-left: 5px;
	margin-bottom: 20px;
}

.info{
	clear:both;
	padding: 30px;
}
.num{height: 50px;}

.video{
	margin-left: 4.5%;	
}

.flexible{
	font-size: 20px;
	line-height: 30px;
	float: right;
	margin: 5.5%;
	margin-top: 1%;
	width: 29%;
	color: grey;
}

.supportive{
	clear: both;
	font-size: 18px;
	line-height: 25px;
	float: left;
	margin: 5%;
	margin-top: 2.2%;
	width: 40%;
	color: grey;
}

.valuable{
	font-size: 18px;
	line-height: 25px;
	float: right;
	margin: 5%;
	margin-top: 2.2%;
	width: 40%;
	color: grey;
}

.partners{
	clear: both;
	font-size: 35px;
}

.ms{
	margin:6%;
	margin-bottom: 9%;
}

.challenge{
	font-size: 30px;
	line-height: 55px;
	color: white;
	width: 40%;
	margin: 6%;
	padding: 4%; 
}

.challenge a{text-decoration: none;
	 color:white ;
	 background-color:#86c775;
	 margin-top: 1.1%;
	 padding:1.1% 2.2%;
	 font-size: medium;
	 border-radius: 5px;}

.challenge a:hover{background-color: #249109;
	transition: background-color 0.3s linear;}

.contact{
	float: right;
	margin-right: 2.2%;
	width: 20%;
	padding-top: 2.2%;
}
